<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    </head>
    <style>
        #div_created_by {
            font-size: 12px;
        }
    </style>
    <body>
        <h1>Hello Sportradar!</h1>
        <h3><u>Choose mode you want to work with</u></h3>
        <a href="../main">User Friendly</a>
        <br>
        <a href="../raw.html">Raw Mode</a>

        <br><br><br>

        <div id="div_created_by">~~~~~~ Webapp created by <b>Jakub Wegielewski</b></div>
    </body>
</html>
